.cellOrange {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ff6600;
    justify-content: center;
}

.cellOrange p {
    border: 1px solid black;
    width: 130px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cellGrey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.562);
}

.cellGrey p {
    border: 1px solid black;
    width: 130px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#outline h2 {
    display: flex;
    justify-content: center;
    width: 130px;
    border: 1px solid black;
    margin: 0px;
}

#inputForm {
    display: flex;
    margin-top: 10px;
}

#inputForm input {
    width: 130px;
    display: flex;
    justify-content: center;
}

#formFame {
    display: flex;
}